<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>新規登録</title>
        <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
        <link href="/css/login.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <form id="registrationForm" >
        <label>
            <span class="textbox-login-gmail">Gmail</span> <span id="gmiss"><%= from.email %></span><br>
            <input name="email" type="text" class="textbox-gmail" placeholder="***@gmail.com"/>
        </label><br>
        <label>
            <span class="textbox-login-pw" id="pass">password </span><span id="pmiss"><%= from.epass %></span><br>
            <input id="textpass" name="pass" type="password" class="textbox-pw" placeholder="password"/>
        </label><br>
        <label>
            <span class="textbox-login-repw" id="repass">re:password </span><span id="repmiss"><%= from.erepass %></span><br>
            <input id="textrepass" name="repass" type="password" class="textbox-re-pw" placeholder="password"/>
        </label><br>
        <label>
            <span class="textbox-login-name">UserName</span><span id="namemiss"><%= from.name %></span><br>
            <input name="name" type="text" class="textbox-name" placeholder="username"/>
        </label><br>

        <p id="text1"></p>
        <button type="submit" onClick>送信</button>
        </form>



  <!-- JavaScriptの読み込み -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // フォームが送信された時の処理
    $('#registrationForm').submit(function(e) {
      e.preventDefault(); // ページ遷移を防止

      // Ajaxリクエストを送信
      $.ajax({
        type: 'POST',
        url: '/register', // サーバー側の新規登録ルートに合わせてURLを設定
        data: $(this).serialize(), // フォームデータを送信
        success: function(response) {
          // ポップアップにメッセージを表示
          window.location.href = '/login';
          alert(response.message);

        },
        error: function(error) {
          console.log('エラーが発生しました。', error);
        }
      });
    });
</script>
        <button onclick="location.href='index.html'">戻る</button>
</body>
</html>