h1 {
    width: 3em;
}

.colorList .block{
    display: inline-block;
    padding-left: 13%;
}

.block div{
    display: flex;
    padding-bottom: 10px;
}

.colorList span{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: solid 2px #f0f0f0;
}
.a1{
    background-color: #f98866;
}
.a2{
    background-color: #ff420e;
}
.a3{
    background-color: #80bd9e;
}
.a4{
    background-color: #d9d9d9;
}
.a5{
    background-color: #286181;
}
.a6{
    background-color: #ff5757;
}
.a7{
    background-color: #f3b868;
}
.a8{
    background-color: #69cec7;
}
.a9{
    background-color: #f5f5f5;
}
.a10{
    background-color: #efffd8;
}
.a11{
    background-color: #c3eb89;
}
.a12{
    background-color: #ffdb1d;
}
.a13{
    background-color: #f4a7b9;
}
.a14{
    background-color: #ffc0cB;
}
.a15{
    background-color: #f8d9e9;
}
.a16{
    background-color: #fdd400;
}
.a17{
    background-color: #02b8a2;
}
.a18{
    background-color: #01535f;
}


.b1{
    background-color: #003b46;
}
.b2{
    background-color: #66a5ad;
}
.b3{
    background-color: #c4dfe6;
}
.b4{
    background-color: #ff9800;
}
.b5{
    background-color: #235180;
}
.b6{
    background-color: #b6b6b6;
}
.b7{
    background-color: #e0e0d8;
}
.b8{
    background-color: #c8c2b6;
}
.b9{
    background-color: #626f82;
}
.b10{
    background-color: #666666;
}
.b11{
    background-color: #44d9e6;
}
.b12{
    background-color: #ffffff;
}
.b13{
    background-color: #0e0b16;
}
.b14{
    background-color: #4717f6;
}
.b15{
    background-color: #e7dfdd;
}
.b16{
    background-color: #0b3c5d;
}
.b17{
    background-color: #d9b310;
}
.b18{
    background-color: #1d2731;
}

.c1{
    background-color: #9a9eab;
}
.c2{
    background-color: #5d535e;
}
.c3{
    background-color: #dfe166;
}
.c4{
    background-color: #fffcfc;
}
.c5{
    background-color: #7557a3;
}
.c6{
    background-color: #9aada1;
}
.c7{
    background-color: #383d3d;
}
.c8{
    background-color: #b92125;
}
.c9{
    background-color: #dad5d2;
}
.c10{
    background-color: #d5836b;
}
.c11{
    background-color: #694054;
}
.c12{
    background-color: #847989;
}
.c13{
    background-color: #7e6159;
}
.c14{
    background-color: #8c2930;
}
.c15{
    background-color: #ad6667;
}
.c16{
    background-color: #d9a6b7;
}
.c17{
    background-color: #dacedc;
}
.c18{
    background-color: #a2c0da;
}

.d1{
    background-color: #601921;
}
.d2{
    background-color: #d7c9aa;
}
.d3{
    background-color: #ffffff;
}
.d4{
    background-color: #00293c;
}
.d5{
    background-color: #f1f3ce;
}
.d6{
    background-color: #f62a00;
}
.d7{
    background-color: #ffdef3;
}
.d8{
    background-color: #ff61be;
}
.d9{
    background-color: #35212a;
}
.d10{
    background-color: #7c6fff;
}
.d11{
    background-color: #5ca9ff;
}
.d12{
    background-color: #fcff90;
}
.d13{
    background-color: #116951;
}
.d14{
    background-color: #eddebd;
}
.d15{
    background-color: #ffbb12;
}
.d16{
    background-color: #c81db7;
}
.d17{
    background-color: #f4db42;
}
.d18{
    background-color: #393839;
}

.e1{
    background-color: #c1e1dc;
}
.e2{
    background-color: #ffccac;
}
.e3{
    background-color: #ffeb94;
}
.e4{
    background-color: #c9e0ee;
}
.e5{
    background-color: #ffdbdb;
}
.e6{
    background-color: #ffa7a6;
}
.e7{
    background-color: #f7f9ee;
}
.e8{
    background-color: #dcf8cc;
}
.e9{
    background-color: #fb7075;
}
.e10{
    background-color: #dbdd94;
}
.e11{
    background-color: #ccc3d5;
}
.e12{
    background-color: #e0dbd7;
}
.e13{
    background-color: #ffe5c0;
}
.e14{
    background-color: #ead2df;
}
.e15{
    background-color: #fff5e9;
}
.e16{
    background-color: #60efdb;
}
.e17{
    background-color: #bef2e4;
}
.e18{
    background-color: #c5e7f1;
}

.f1{
    background-color: #375e97;
}
.f2{
    background-color: #fb6542;
}
.f3{
    background-color: #ffbb00;
}
.f4{
    background-color: #f4cc70;
}
.f5{
    background-color: #de7a22;
}
.f6{
    background-color: #6ab187;
}
.f7{
    background-color: #75b1a9;
}
.f8{
    background-color: #d9b44a;
}
.f9{
    background-color: #acd0c0;
}
.f10{
    background-color: #e2d0b8;
}
.f11{
    background-color: #a03724;
}
.f12{
    background-color: #ebbb69;
}
.f13{
    background-color: #94618e;
}
.f14{
    background-color: #49274a;
}
.f15{
    background-color: #f4decb;
}
.f16{
    background-color: #cf6766;
}
.f17{
    background-color: #30415d;
}
.f18{
    background-color: #8eaebd;
}
