.outside {
  display: flex;
  margin-top: 40px;
}

.insidep button{
  width: 270px;
  margin-top: 18px;
  margin-left: 60px;
  margin-bottom: 17px;
  margin-right: 45px;
}

.insideq button{
  width: 270px;
  margin-bottom: 17px;
  margin-right: 45px;
}



.insider button{
  width: 270px;
  margin-bottom: 17px;
  margin-right: 45px;
}


.button-mypage {
  height: 165px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #f6f6f6;
  color: #545454;
  font-weight: 600;
  font-size: 1.2em;
}

.button-mypage:hover {
  background-color: #e6e6e6;
}


.button-Ptemp {
  height: 350px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #202020;
  color: #F6F6F6;
  font-weight: 600;
  font-size: 1.2em;
}

.button-Ptemp:hover {
  background-color: #101010;
}

.form-postLog{
  height: 350px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #f6f6f6;
  color: #545454;
  font-weight: 600;
  font-size: 1.2em;
}

.form-postLog:hover{
  background-color: #e6e6e6;
}
.button-postLog {
  height: 350px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #f6f6f6;
  color: #545454;
  font-weight: 600;
  font-size: 1.2em;
}

.button-postLog:hover {
  background-color: #e6e6e6;
}


.button-colorSample {
  height: 200px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #bdff00;
  color: #545454;
  font-weight: 600;
  font-size: 1.2em;
}

.button-colorSample:hover {
  background-color: #adef00;
}


.button-webCreate {
  height: 500px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #bdff00;
  color: #545454;
  font-weight: 600;
  font-size: 1.2em;
}

.button-webCreate:hover {
  background-color: #adef00;
}


.button-Wtemp {
  height: 350px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #f6f6f6;
  color: #545454;
  font-weight: 600;
  font-size: 1.2em;
}

.button-Wtemp:hover {
  background-color: #e6e6e6;
}


.button-termDic {
  height: 350px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #bdff00;
  color: #545454;
  font-weight: 600;
  font-size: 1.2em;
}

.button-termDic:hover {
  background-color: #adef00;
}


.button-null {
  height: 500px;
  padding: .9em 2em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
  background-color: #202020;
  color: #F6F6F6;
  font-weight: 600;
  font-size: 1.2em;
}

.button-null:hover {
  background-color: #101010;
}
