.customList {
  width: 6.5em;
}
.customLog {
  width: 5.1em;
}
.favorite {
  width: 4.3em;
}

.star {
    display: none;
  }
#star {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
  }

  .search {
    cursor: pointer;
  }
