.searchGenre {
    width: 4.9em;
}
.searchResult {
    width: 4.9em;
}
.termDictionary {
    width: 3.8em;
}

.search {
    cursor: pointer;
}

.genrebutton {
    padding: 5.7%;
}

.genre {
    height: 260px;
    width: 330px;
    margin: 15px 15px 15px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  thead {
    background-color: #1a237e;
    color: #fff;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
  }
  h2{
    text-align: center;
  }