.searchGenre {
    width: 4.9em;
}

.search {
    cursor: pointer;
}

.genrebutton {
    padding: 5.7%;
}

.genre {
    height: 260px;
    width: 330px;
    margin: 15px 15px 15px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
