html {
    background-color: #D8D8D8;
}

h1 {
    padding: 1rem 2rem;
    color: #777777;
    background: #BDFF00;
  }

.post{
    text-align: left;
    
}

.postLog{
    width: 100px;
    background: #BDFF00;
}

.mypage{
    text-align: right;
}